<!DOCTYPE html>
<html>
<head> 
	<title>Contact Deletion</title>
	<link rel='stylesheet' type = 'text/css' href='mailer.css'/>
</head>
<body>
	<h1>Contact Deleted</h1>


	<p><a href = "/contacts" id = "buttons"> View list of contacts! </a></p>
</body>
</html>