<!DOCTYPE html>
<html>
<head>
    <title>Contact Form - login</title>
    <link rel='stylesheet' type = 'text/css' href='login.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container">
<div class="col-md-5">
    <div class="form-area"> 
    <form action = "login" method = "post">
    <br style="clear:both">
        <h1 style="margin-bottom: 25px; text-align: center;"> Please enter username and password </h1>
        <div class ="form-group">
            <p>
                <label for="contacts">Username:  </label>
                <input type="text" class ="form-control" name="username"/>
            </p>
            <p>
                <label for="contacts">Password:  </label>
                <input type="password" class ="form-control" name="password"/>
            </p>
            <button type="submit" class="btn btn-primary pull-right">Login</button>
        </div>
    </form>
    </div>
</div>
</div>
</body>
</html>